.container {
	width: 700px;
	margin: 0 auto;
}






@media (max-width: 960px) {
  #container {
    width: 700px;}
}

@media (max-width: 800px) {
	#container{
		width: 610px;}
}

@media (max-width: 760px) {
	#container{
		width: 600px;}
}

@media (max-width: 700px) {
	#container{
		width: 520px;}
}

@media (max-width: 620px) {
	#container{
		width: 500px;}
}

@media (max-width: 500px) {
	#container{
		width: 370px;}
}

@media (max-width: 420px) {
	#container{
		width: 300px;}
}

@media (max-width: 375px) {
	#container{
		width: 260px;}
}